/* +++++++++++++++++++++++++++++++++++++++++++
   comments
++++++++++++++++++++++++++++++++++++++++++++*/

/*
  text-shadow: 1px 1px 0px #d8b045;
  -webkit-box-shadow: #ffc001 0px 1px 1px;
  -moz-box-shadow: #ffc001 0px 1px 1px;
  box-shadow: #ffc001 0px 1px 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  behavior: url("/css/PIE.htc");
*/
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/* +++++++++++++++++++++++++++++++++++++++++++
  default style
++++++++++++++++++++++++++++++++++++++++++++*/
* {
	outline: none !important;
	padding: 0;
	margin: 0;
}
html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
}
header {
	height: 30%;
	width: 100%;
	border-bottom: 4px solid #fff;
	position: relative;
	font-family: Arial Narrow;
	font-weight: bold;
}
nav {
	padding: 1% 3%;
}
nav ul li {
	display: inline-block;
	height: auto;
	width: 24%;
	text-align: right;
}
nav ul li:first-child, nav ul li:nth-child(2) {
	text-align: left;
}
p.mainname {
	position: absolute;
	display: block;
	bottom: 0;
	height: auto;
	width: 100%;
	text-align: center;
}
.main {
	height: auto;
	width: 100%;
}
.center {
	height: 100%;
	width: 80%;
	margin: 0 auto;
	background: #5cbbf6;
	position: relative;
}